@font-face {
    font-family: Necis;
    src: url('../font/Necis-PersonalUse.otf');
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Necis;
    font-weight: 100;
    font-size: larger;
}

.navbar {
    padding: 0rem 6rem;
}

.nav-clickable {
    border-radius: 0.25rem;
    min-height: 100%;
    padding: 0 2rem;
    margin: 0;
}

    .nav-clickable:hover {
        cursor: pointer;
        transition: 0.02s;
        background-color: #D3D3D36E;
        box-shadow: 2px 4px 9px lightgray;
    }
